#create-spot-form {
    width: 500px;
    display: grid;
    grid-template-rows:  50px 50px 50px repeat(17, 35px);
    grid-template-columns: repeat(2, 250px);
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 19px;
    font-family: cursive;
    grid-column: 1/3;
    align-self: flex-end;
    margin-left: 10px;
}

input[type=text], textarea {
    height: 30px;
    width: 450px;
    grid-column: 1/3;
    justify-self: start;
    display: inline-block;
    border: 3px solid black;
    background-color: rgb(206, 222, 255);
    border-radius: 5px;
}

.title {
    font-size: 38px;
    font-family: cursive;
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: center;
    margin-left: 10px;
}

#title-info {
    align-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: 28px;
    margin-left: 10px;
}

#explain-spot-form {
    align-self: start;
    grid-column: 1/3;
    margin-top: 0px;
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
#country-label {
    grid-row:4/5;
    grid-column:1/3;
    font-family: cursive;
    align-self: center;
}

#errors-country {
    grid-row: 4/5;
    grid-column: 1/2;
    color: red;
    font-size: 16px;
    font-family: cursive;
    justify-self: center;
    position: relative;
    bottom: 5px;
    left: 25px;
}

#country-input {
    grid-row: 5/6;
    grid-column: 1/3;
    align-self: center;

}

#address-label {
    grid-row: 6/7;
    grid-column: 1/3;
    align-self: center;
    font-family: cursive;
}
#address-input {
    grid-row: 7/8;
    grid-column: 1/3;
    align-self: center;
}

#errors-address {
    grid-row: 6/7;
    grid-column: 1/3;
    justify-self: center;
    color: red;
    font-size: 16px;
    position: relative;
    bottom: 5px;

}

#city-label {
    grid-row: 8/9;
    grid-column: 1/3;
}

#errors-city {
    grid-row: 8/9;
    grid-column: 1/2;
    font-size: 16px;
    justify-self: center;
    position: relative;
    color: red;
    bottom: 1px;
    right: 20px;
}

#city-input {
    grid-row: 9/10;
    grid-column: 1/3;
    width: 280px;
}

#state-label {
    grid-row: 8/9;
    grid-column: 2/3;
    justify-self: center;
    position: relative;
    right: 45px;
    font-size: 16px;
}

#errors-state {
    grid-row: 8/9;
    grid-column: 2/3;
    font-size: 14px;
    position: relative;
    justify-self: center;
    color: red;
    left: 35px;
    bottom: 1px;
}

#state-input {
    grid-row: 9/10;
    grid-column: 2/3;
    width: 140px;
    justify-self: end;
    position: relative;
    right: 30px;
}

#state-city-comma {
grid-row: 9/10;
grid-column: 2/3;
font-size: 35px;
font-family: cursive;
position: relative;
left: 44px;
bottom: 37px;

}

#lat-label {
    grid-row: 10/11;
    grid-column: 1/2;
    font-size: 16px;
}

#errors-lat {
    grid-row: 10/11;
    grid-column: 1/2;
    font-size: 14px;
    color: red;
    font-family: cursive;
    display: grid;
    justify-content: end;
    position: relative;
    bottom: 2px;
    right: 40px;
}

#lat-input {
    grid-row: 11/12;
    grid-column: 1/2;
    width: 220px;
}

#lng-label {
    grid-row: 10/11;
    grid-column: 2/3;
    position: relative;
    justify-self: start;
    font-size: 16px;
    right: 5px;
}

#errors-lng {
    grid-row: 10/11;
    grid-column: 2/3;
    font-size: 14px;
    color: red;
    font-family: cursive;
    display: grid;
    justify-content: center;
    position: relative;
    bottom: 2px;
    left: 20px;
}

#lng-input {
    grid-row: 11/12;
    grid-column: 2/3;
    width: 200px;
    justify-self: start;
}

#lat-lng-comma {
    grid-row: 11/12;
    grid-column: 2/3;
    font-size: 35px;
    position: relative;
    right: 14px;
    bottom: 36px;
    font-family: cursive;
}

#line-break-one {
    grid-row: 12/13;
    grid-column: 1/3;
    color: black;
    width: 500px;
    justify-self: center;
    margin: 20px;
    position: relative;
    top: 10px;
}

#description-title {
    grid-row: 13/14;
    grid-column: 1/3;
    font-size: 22px;
    align-self: center;
    font-family: cursive;
    margin-left: 10px;
}

#description {
    grid-row: 14/15;
    grid-column: 1/3;
    font-size: 14px;
    align-self: center;
    font-family: cursive;
    margin-left: 10px;
}


#description-input {
    grid-row: 15/18;
    grid-column: 1/3;
    font-family: cursive;
    height: 70px;
    position: relative;
    top: 20px;
}
.errors-description {
    grid-row: 18/19;
    grid-column: 1/3;
    font-family: cursive;
    color: red;
    font-size: 14px;
    align-self: start;
    position: relative;
    top: 4px;
}

#line-break-two {
    grid-row: 18/19;
    grid-column: 1/3;
    width: 500px;
    color: black;
    justify-self: center;
    margin: 20px;
    position: relative;
    top: 10px;
}

#title-spot {
    grid-row: 19/20;
    grid-column: 1/3;
    align-self: center;
    font-size: 22px;
    font-family: cursive;
    margin-left: 10px;
}

#title-description {
    grid-row: 20/21;
    grid-column: 1/3;
    align-self: center;
    font-family: cursive;
    font-size: 14px;
    margin-left: 10px;
}

#title-input {
    grid-row: 21/22;
    grid-column: 1/3;
}

#submit-create-spot {
    grid-column: 1/3;
    margin: 25px;
    justify-self: center;
    background-color: rgb(255, 90, 95);
    box-shadow: 3px 3px black;
    width: 140px;
    height: 35px;
    font-size: 22px;
    color: white;
    font-family: cursive;
}

.errors-name {
    grid-row: 22/33;
    grid-column: 1/3;
    color: red;
    font-size: 14px;
    align-self: start;
    font-family: cursive;

}

#line-break-three {
    grid-row: 22/23;
    grid-column: 1/3;
    width: 500px;
    color: black;
    justify-self: center;
    margin: 8px;
    position: relative;
    top: 15px;
}

#price-title {
    grid-row: 23/24;
    grid-column: 1/3;
    align-self: center;
    font-size: 22px;
    margin-left: 10px;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
}

#price-description {
    grid-row: 24/25;
    grid-column: 1/3;
    align-self: center;
    margin-left: 10px;
    font-size: 14px;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Money-sign {
    grid-row:25/26;
    grid-column: 1/2;
    position: relative;
    font-size: 30px;
    justify-self: start;
    bottom: 7px;
    margin-bottom: 18px;
}

#price-input {
    grid-row: 25/26;
    grid-column: 1/3;
    width: 400px;
    position: relative;
    left: 25px;
    top: 15px;
    height: 40px;
}

#errors-price {
    grid-row: 26/27;
    grid-column: 1/3;
    color: red;
    font-size: 16px;
    font-family: cursive;
    position: relative;
    bottom: 15px;
}

#line-break-four {
    grid-row: 26/27;
    grid-column: 1/3;
    width: 500px;
    color: black;
    justify-self: center;
    margin: 8px;
    position: relative;
    top: 10px;
    align-self: end;
}

#photo-title {
    grid-row: 27/28;
    grid-column: 1/3;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    font-size: 22px;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

#photo-description {
    grid-row: 28/29;
    grid-column: 1/3;
    align-self: center;
    margin-left: 10px;
    font-size: 14px;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 5px;
}
#line-break-five {
    grid-column: 1/3;
    width: 500px;
    color: black;
    justify-self: center;
    margin: 8px;
}

#submit-create-spot {
    grid-column: 1/3;
    margin: 25px;
    justify-self: center;
    background-color: rgb(255, 90, 95);
    box-shadow: 3px 3px black;
    width: 140px;
    height: 35px;
    font-size: 22px;
    color: white;
    font-family: cursive;
}
#errors-image1, #errors-image2,  #errors-image3, #errors-image4, #errors-image5 {
    font-size: 16px;
    color: red;

}

#line-break-five {
    grid-column: 1/3;
    width: 500px;
    color: black;
    justify-self: center;
    margin: 8px;
}

#submit-create-spot {
    grid-column: 1/3;
    margin: 25px;
    justify-self: center;
    background-color: rgb(255, 90, 95);
    box-shadow: 3px 3px black;
    width: 140px;
    height: 35px;
    font-size: 22px;
    color: white;
    font-family: cursive;
}
