.createSpotButton {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 1vw;
    background-color: #f7257f;
    border: 2px solid  rgb(238, 222, 0);
    color: #ffa5c5;
  }

  .createSpotButton:hover {
    letter-spacing: 0.01em;
    background: #420017;
    color: #ffffff;
    box-shadow: 0 0 45px #ff1867;
  }

  .createSpotButton::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
  }

  .createSpotButton span {
    position: relative;
    z-index: 1;
  }

  .createSpotButton i {
    position: absolute;
    inset: 0;
    display: block;
    background-color: #f7257f;
  }

  .createSpotButton i::before {
    content: '';
    position: absolute;
    border: 2px solid rgb(238, 222, 0);
    width: 10px;
    height: 6px;
    top: -3.5px;
    left: 80%;
    background: #f7257f;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .createSpotButton:hover i::before {
    width: 20px;
    left: 20%;
  }

  .createSpotButton i::after {
    content: '';
    position: absolute;
    border: 2px solid rgb(238, 222, 0);
    width: 10px;
    height: 6px;
    bottom: -3.5px;
    left: 20%;
    background: #f7257f;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .createSpotButton:hover i::after {
    width: 20px;
    left: 80%;
  }
