
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.overlay {
    background-color: rgba(55,55,55,0.8);
    z-index: 7;
}

#login-form {
    align-self: center;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/2;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.overlay {
    background-color: rgba(55,55,55,0.8);
    z-index: 7;
}

.modal-content {
    z-index: 8;
    position: fixed;
    background-color: white;
    border: solid black 2px;
    border-radius: 14px;
    left: 40vw;
    top: 35vh;
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(1, 350px);
    justify-items: center;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(46px 36px 24px #ff527e) drop-shadow(-55px -40px 25px #9e30a9);
    animation: boxShadowsFilter 8s ease-in infinite;
    z-index: 1000;
  }

  @keyframes boxShadowsFilter {
    0% {
      filter: drop-shadow(46px 36px 28px rgba(255, 0, 55, 0.341)) drop-shadow(-55px -40px 28px #9e30a9);
    }

    25% {
      filter: drop-shadow(46px -36px 24px rgba(255, 19, 78, 0.898)) drop-shadow(-55px 40px 24px #9e30a9);
    }

    50% {
      filter: drop-shadow(46px 36px 30px rgba(255, 38, 121, 0.898)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }

    75% {
      filter: drop-shadow(20px -18px 25px rgba(255, 19, 78, 0.898)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }

    to {
      filter: drop-shadow(46px 36px 28px rgba(255, 0, 55, 0.341)) drop-shadow(-55px -40px 28px #9e30a9);
    }
  }

/* .bg {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(1, 350px);
    justify-items: center;
    align-items: center;
    top: 36vh;
    height: 335px;
    width: 340px;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    position: fixed;
    z-index: 2000;
}

  .blob {
    position: relative;
    z-index: -1000;
    top: 190px;
    left: 50%;
    width: 350px;
    height: 350px;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 3s infinite linear
  }

  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  } */

.modalhidden {
    display:none;
}

#credential-label {
    position: relative;
    font-size: 32px;
    display: block;
    text-align: center;
    width: 320px;
    left: 40px;
    color: black;
}

#password-label {
    position: relative;
    font-size: 32px;
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

#header {
    position: relative;
    display: block;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    color: black;
}

#errors-login {
    grid-row: 1/2;
    color: red;
    font-size: 16px;
    font-family: cursive;
    position: relative;
    bottom: 5px;
}
 #submit-button {
    display: block;
    text-align: center;
    height: 35px;
    width: 330px;
    box-shadow: 4px 4px black;
    font-size: 26px;
    grid-row: 3/4;
 }

 #submit-button {
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  transition: all .3s ease;
  box-shadow: rgb(117, 27, 40) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}


#submit-button:hover {
  box-shadow: rgb(0, 0, 0) 0px 7px 0px 0px;
  border: 2px solid black;
}

#submit-button:active {
  background-color: rgb(255, 56, 86);
  border: 2px solid black;
  /*50, 168, 80*/
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

#credential-input {
width: 320px;
position: relative;
border: 3px solid black;
  background-color: rgb(206, 222, 255);
  border-radius: 5px;
}

#password-input {
width: 320px;
position: relative;
border: 3px solid black;
background-color: rgb(206, 222, 255);
border-radius: 5px;
height: 30px;

}

#submit-button-disabled {
        background-color: darkgrey;
        cursor: not-allowed;
        display: block;
        text-align: center;
        height: 35px;
        width: 330px;
        box-shadow: 4px 4px black;
        font-size: 26px;
        grid-row: 3/4;
        font-family: cursive;
        position: relative;
        bottom: 10px;
        border-radius: 10px;
        border: 0;
        letter-spacing: 1.5px;
        font-size: 20px;
        transition: all .3s ease;
        box-shadow: rgb(58, 58, 58) 0px 10px 0px 0px;
        color: hsl(0, 0%, 100%);
        background-color: darkgrey;
 }

 #demo-user-sign-in {
    grid-row: 4/5;
    align-self: center;
    font-family: cursive;
    text-decoration: underline;
    color: rgb(0, 139, 81);
    font-size: 26px;
 }

 #demo-user-sign-in:hover {
    cursor: pointer;
    scale: 1.2;
 }
