.modal, .overlay-delete {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: black;
}

.overlay-delete {
    background-color: rgba(55,55,55,0.8);
    z-index: 10;
}

#delete-modal-hidden {
    display: none;
}

#delete-modal-content {
    z-index: 20;
    position: fixed;
    background-color: white;
    border: solid black 4px;
    border-radius: 25px;
    height: 300px;
    width: 400px;
    left: 40vw;
    top: 30vh;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(1, 100%);
    padding: 10px;
    color: black;
}

#confirm-delete-title {
    font-family: cursive;
    font-size: 30px;
    color: black;
}

#confirm-delete-info {
    font-family: cursive;
    grid-row: 2/3;
}

#confirm-delete-button-review {
    grid-row: 3/5;
    align-self: self-start;
    background-color: rgb(255, 90, 95);
    height: 65px;
    grid-column: 1/2;
    box-shadow: 4px 4px black;
    position: relative;
    top: 25px;
    color: white;
    font-size: 20px;
    font-family: cursive;
}
#confirm-delete-button-review {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    box-shadow: rgb(117, 27, 40) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    z-index: 1000;
  }

  #deny-delete-button-review:hover,
  #confirm-delete-button-review:hover {
    box-shadow: rgb(0, 0, 0) 0px 7px 0px 0px;
    border: 2px solid black;
  }

  /* #deny-delete-button:active,
  #confirm-delete-button:active {
    background-color: rgb(255, 56, 86);
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  } */

#deny-delete-button-review {
    grid-row: 4/6;
    align-self: end;
    background-color: darkgrey;
    grid-column: 1/2;
    height: 65px;
    font-family: cursive;
    position: relative;
    bottom: 10px;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    letter-spacing: 1.5px;
    font-size: 20px;
    box-shadow: rgb(58, 58, 58) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    z-index: 1000;
}



.del {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 122, 122);
    box-shadow: 4px 4px black;
  }

  .del:hover {
    cursor: pointer;
    scale:1.3;
    font-weight: 700;

  }

  /* .del div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5),
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    letter-spacing: 1px;
    color: #ff0000;
    z-index: 1;
    transition: .6s;
  }

  .del:hover div {
    letter-spacing: 4px;
    color: #fff;
    background: #ff0000;
  } */
