
body {
    background-color: white(253, 252, 252, 0.8);
    color: black;
}

.darkMode {
    background-color: rgb(13, 13, 13);
    color: white;
}

.prevSpots {
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 0;
    filter: drop-shadow(0 0 0.75rem crimson);
}



#grow {
    transition: all .2s ease-in-out;
    z-index: 1;
    }

#grow:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 100;
    }

.spots-container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(min(100%/1, max(300px, 100%/4)), 1fr));
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 100px;
    z-index: 0;
}
