body {
    background-color: rgba(77, 76, 76, 0.8);
}

.prevSpots {
    background-color: white;
    border: solid rgb(255, 90, 95) 2px;
    height: 100%;
    width: 100%;
    z-index: 1;
}



#grow {
    transition: all .2s ease-in-out;
    }

#grow:hover {
    transform: scale(1.3);
    cursor: pointer;
    z-index: 100;
    }

.spots-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 175px;
    margin-right: 175px;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.overlay {
    background-color: rgba(55,55,55,0.8);
    z-index: 7;
}

.modal-content {
    z-index: 8;
    position: fixed;
    background-color: white;
    border: solid black 2px;
    border-radius: 25px;
    left: 35vw;
    top: 35vh;
    height: 350px;
    width: 350px;
}

.modalhidden {
    display:none;
}

#credential-label {
    position: relative;
    font-size: 32px;
    display: block;
    text-align: center;
    top: 25px;
}

#password-label {
    position: relative;
    top: 50px;
    font-size: 32px;
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#header {
    position: relative;
    display: block;
    text-align: center;
}
 #submit-button {
    display: block;
    position: relative;
    text-align: center;
    top: 620px;
    left: 800px;
    height: 35px;
    width: 85px;
    z-index: 9;
 }
