body, header {
    background-color: rgba(49,49,49,0.8);
}
.prevSpots {
    background-color: white;
    border: solid black;
    height: 250px;
    width: 250px;
}



#grow {
    transition: all .2s ease-in-out;
    }

#grow:hover {
    transform: scale(1.1);
    cursor: pointer;
    }

.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
