.modal-signup-content {
    z-index: 8;
    position: fixed;
    background-color: white;
    border: solid black 2px;
    border-radius: 25px;
    height: 450px;
    width: 450px;
    left: 40vw;
    top: 30vh;
    text-align: center;
    display: grid;
    grid-template-rows: 15% 85%;
    padding: 10px;
}

#sign_up_form {
    display: grid;
    grid-template-rows: auto;
}

.submit-button {
    position: relative;
    bottom: 15px;
    max-width: 150px;
    justify-self: center;
    background-color: rgb(255, 90, 95)
}

.sign-up-button-disabled {
    background-color: darkgrey;
    cursor: not-allowed;
    max-width: 350px;
    justify-self: center;
    min-width: 200px;
}

.sign-up-button-enabled {
    background-color: rgb(255, 90, 95);
    max-width: 350px;
    justify-self: center;
    min-width: 200px;
}

input[type="text"], input[type='password'], textarea {

    background-color : #d1d1d1;
    width: 200px;
    justify-self: center;
    margin: 5px;
  }

  